@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

$primary: #04cc66;
$secondary: #eee;

* {
    margin: 0;
    font-family: "Josephin Sans", sans-serif;
}

.wrapper {
    max-width: 600px;
    margin: 36px auto;
}

.stepsContainer {
    margin: 10px;
    padding: 10px;
    border: #acacac solid 1px;
    border-radius: 20px;
    max-width: 600px;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(8, 1fr);
    grid-template-areas:
        "header . . . . . . ."
        ". . . chart chart chart chart ."
        ". . . chart chart chart chart ."
        ". . . chart chart chart chart ."
        "steps steps steps chart chart chart chart ."
        "bar bar bar bar bar bar bar bar"
        "bar bar bar bar bar bar bar bar"
        "slider slider slider slider slider slider slider slider"
        ". . . sliderinfo sliderinfo . info info";

    h3 {
        color: $primary;
        grid-area: header;
        font-size: 1rem;
    }

    p {
        grid-area: steps;
        font-size: 1.5rem;

        span {
            font-size: 0.75rem;
        }
    }

    small {
        grid-area: info;
        justify-self: flex-end;
        align-self: center;
        font-size: 0.7rem;
    }
}

.stepsChart {
    grid-area: chart;
    display: grid;
    gap: 1px;

    height: 100%;
    width: 100%;
    align-items: flex-end;
    justify-items: center;
}

.chartColumn {
    background-color: $primary;
    border-radius: 5px;
    width: 5px;
    overflow: hidden;
}

.chartColumn-inactive {
    @extend .chartColumn;

    background-color: $secondary;
}

.current {
    background-color: #e27b1a;
}

.progressBar {
    grid-area: bar;
    background-color: $secondary;
}

.progressBar {
    min-height: 50px;
    display: grid;
    grid-template-columns: 1fr;

    div {
        display: grid;
        grid-template-columns: 1fr;
        background-color: $primary;
        height: 100%;
        justify-items: flex-end;

        div {
            position: absolute;
            height: 50px;
        }

    }

    span {
        font-weight: bold;
        justify-self: flex-start;
        font-size: 0.75rem;
        padding-left: 16px;
    }
}

.slider {
    grid-area: slider;
}

.slider_info {
    grid-area: sliderinfo;
    font-size: 0.8rem;
    align-self: center;
    justify-self: center;
}

.progressText {
    position: relative;
    left: 40px;
    color: #667770;
    font-weight: bold;
    align-self: center;
    justify-self: flex-end;
    font-size: 0.75rem;
}

.left {
    left: -20px;
    color: #fff;
}